# Ignore the env file containing secrets
.env

# Ignore build binaries
*.exe
*.dll
documentation.txt
microservice-migration.txt

#Claude related files
.claude
CLAUDE.md
CLAUDE.template.md
claude-cheat-sheet.md
CHANGELOG.md